<%= render 'tennis/search_form' %>
<div class="center jumbotron">
  <div>
    <h1 class="text-2xl sm:text-3xl text-center my-10">検索結果<br><span class="text-lg sm:text-2xl">(検索ワードの地点から半径１km以内を表示)</span></h1>
    <p>まだ検索されていません。</p>
  </div>
  <div>
    <h2>よく検索されるコート</h2>
  </div>
</div>