version: 2

jobs:
  build:
    docker:
      - image: circleci/ruby:2.7.4-node
        environment:
          RAILS_ENV: test
          DATABASE_USERNAME: 'root'
          DATABASE_HOST: 127.0.0.1 
      - image: circleci/mysql:8.0
        environment:
          MYSQL_ALLOW_EMPTY_PASSWORD: true
          MYSQL_ROOT_PASSWORD: 'password'
          # MYSQL_DATABASE: circleci_parctice_test
          MYSQL_DATABASE: myapp_test
    working_directory: ~/tennis_court_app
    steps:
      - checkout
      - run:
          name: "bundle install"
          command: bundle install --path vendor/bundle
      - run:
          name: "waiting DB start"
          command: dockerize -wait tcp://127.0.0.1:3306 -timeout 1m
      - run:
          name: "initialize DB"
          command: |
            bundle exec rake db:create
            bundle exec rake db:migrate
      - run:
          name: yarn Install
          command: yarn install
      - run: bundle exec bin/webpack
      - run:
          name: RSpec
          command: bundle exec rspec
      - run:
          name: Rubocop
          command: bundle exec rubocop

      - add_ssh_keys:
          fingerprints:
            - "ee:29:0c:82:2f:81:48:bd:e2:0f:c4:80:fa:b0:ad:e4"
      - deploy:
          name: Capistrano deploy
          command: |
            if [ "${CIRCLE_BRANCH}" != "master" ]; then
              exit 0
            fi
            bundle exec cap production deploy

workflows:
  version: 2
  workflows:
    jobs:
      - build