<% provide(:button_text, '変更') %>
<h1>ユーザー情報変更</h1>
<div class="mb-3">
  <%= render 'form' %>
  <%= link_to "ユーザー削除", @user, method: :delete,
                                data: { confirm: "削除してよろしいですか?" } %>
</div>
