<h1>ユーザー一覧</h1>

<%= paginate @users %>

<ul class="">
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name, user %>
      <% if current_user.admin? && !current_user?(user) %>
      | <%= link_to "ユーザー削除", user, method: :delete,
                                  data: { confirm: "削除してもよろしいですか?" } %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= paginate @users %>