<% provide(:button_text, 'ユーザー作成') %>

<div class="container py-4">
  <div class="py-2 user-form mx-auto  border-2 bg-white shadow-md">
    <h1 class="text-2xl sm:text-3xl text-center py-4 font-bold">新規登録</h1>
    <div class="form-wide mx-auto">
      <%= render 'form' %>
    </div>
  </div>
</div>