<% provide(:button_text, 'ユーザー作成') %>
<div class="container">
  <div class="text-center">
    <h1 class="text-2xl sm:text-3xl text-center py-4">新規登録</h1>
  </div>
  <div class="mb-3">
    <%= render 'form' %>
  </div>
</div>