<%# <%= image_tag 'profile_image.png', class:"profile_img" %>
<%# <%= f.file_field :image class:"" %>
<h1><%= @user.name %>さんのマイページ</H1>
<%= link_to "ユーザー情報変更", edit_user_path(current_user), class: "p-4 fs-3 text-dark" %>
<div class="container">
  <div classe="">
    <h2>お気に入りしたコート</h2>
  </div>
  <div classe="">
    <h2>最近閲覧したテニスコート</h2>
  </div>
  <div classe="">
    <h2>コート投稿：◯◯件</h2>
  </div>
</div>