<% if @contact.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%= @contact.errors.count %>つの誤りが確認されました。
    </div>
    <ul>
    <% @contact.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>