<%= render 'courts/search_form' %>
<div class="container py-4 ">
  <h2 class="text-2xl text-center font-bold mb-4">お気に入り数が多いコート</h2>
  <% if @all_ranks.present? %>
    <ul class="mb-2 mx-auto grid gap-x-2 gap-y-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">  
      <% @all_ranks.each do |court| %>
        <%= render court %>
      <% end %>   
    </ul>
  <% else %>
    <div class="text-center">
      <p class="text-lg sm:text-2xl ">該当するコートはありません。</p>
    </div>
  <% end %>
</div>
<div class="container py-4">
  <h2 class="text-2xl text-center font-bold mb-4">最近投稿されたコート</h2>
  <% if @latest_courts.present? %>
    <ul class="mb-2 mx-auto grid gap-x-2 gap-y-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">    
      <% @latest_courts.each do |court| %>
        <%= render court %>
      <% end %>
    </ul>
  <% else %>
    <div class="text-center">
      <p class="text-lg sm:text-2xl ">該当するコートはありません。</p>
    </div>
  <% end %>
</div>