<% provide(:button_text, 'コート情報を投稿する') %>
<div class="container py-4">
  <div class="py-2 user-form mx-auto  border-2 bg-white shadow-md">
    <h1 class="text-2xl sm:text-3xl text-center py-4 font-bold">コート投稿</h1>
    <div class="form-wide mx-auto">
      <%= render 'form' %>
    </div>
  </div>
</div>