<h1>施設情報</H1>
<div class="container">
  <div class="">
    <h2>施設名</h2>
  </div>
  <div class="">
    <h3>コート情報
    <div class="">
      <h3>住所</h3>
    </div>
    <div class="">
      <h3>予約url</h3>
    </div>
    <div class="">
      <h3>コート数</h3>
    </div>
  </div>
  <div class="">
    <h2>コメント<h2>
    <ul>
      <li>コメント1</li>
      <li>コメント2</li>
      <li>コメント3</li>
    </ul>
  </div>
</div>