@import '~bootstrap/scss/bootstrap';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.court-card {
  width: 250px;
  height: 300px
}

.title-font {
  font-family: 'Kaushan Script', cursive;
}

.pagination {
  justify-content: center;
  padding-bottom: 6px;
}

.pagination>li>a {          
  border: none;
  color: #ED8936;
}

.pagination>.active>.page-link {
  background-color: #ED8936;
  border-color: #ED8936;
}

.pagination>.active>a {     
  background: #ED8936;
  border-radius: 20px;
}

.pagination>li>a:hover {        
  border-radius: 20px;
  background: #FBD38D;
  color: #fff;
}

// #error_explanation {
//   color: red;
//   ul {
//     color: red;
//     margin: 0 0 30px 0;
//   }
// }