<footer class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm fst-italic">
  <%# <%= link_to image_tag("Tennis_search.png", class:"h5 my-0 me-md-auto fw-normal text-dark fs-2"), "#" %>
  <%= link_to "Tennis court search", root_path, class: "h5 my-0 me-md-auto fw-normal fs-1 ps-5 text-info" %>
  <nav class="my-2 my-md-0 me-md-3 float-end">
    <%= link_to "お問い合わせ", contact_path, class: "p-4 fs-3 text-dark" %>
    <%= link_to "よくあるご質問", question_path, class: "p-4 fs-3 text-dark" %>
  </nav>
</footer>