<footer class="bg-white mb-3 h-20">
  <div class="text-center text-gray-500">
    <p>Copyright © 2021 Tennis court search All Rights Reserved.</p>
  </div>
  <nav class="float-right">
    <%= link_to "お問い合わせ", new_contact_path, class: "p-4 fs-3 text-dark" %>
  </nav>
</footer>